@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-primary" asp-action="Privacy" asp-controller="Home">Button</a>
<div class="text-center">
    <h1 class="display-4">Welcome to Website Y.samoun</h1>
   
    <input type="text" id="input" />
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $('#input').val(100)
    $('#input').change(function () {
        alert($('#input').val())
    })
</script>
